body{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #000000;
}
h2{ font-size: 3.5rem;
    margin-top: 6rem;
    line-height: 0.0;
    color: #66bfbf;
    font-weight: lighter;
}

h1{ font-size: 450%;
    margin-top: 1.5rem;
    width: auto;
    line-height: 3rem;
    color:#66bfbf;
}

hr{
    border: dotted #15dada 6px;
    border-bottom: none;
    width: 10%;
}
h3{ color:#11999E
}
.profileimg{
    width: 200px;
    height: 200px;
}
p{
    line-height: 2;
}
.intro{
    width:30%;
    margin: auto;
}
.top{ background-color: rgb(131, 214, 247);
    position: relative;
    padding-top: 100px;
    padding-bottom: 10px;
}

.web{
    height: 100px;
}
.topcloud{
    position: absolute;
    top: 50px;
    left: 1100px;
}
.mlimg{
    height: 350px;
    width: 500px;
}
.webimg{
    height: 100px;
    width: 400px;
}
.bottomcloud{
    position: absolute;
    left: 500px;
    bottom: 300px;
}
.webclass{ 
    width: 70%;
    margin: 100px auto 100px auto;
    text-align: left;
}
.mlclass{ width: 70%;
    margin: 100px auto 100px auto;
    text-align: left;
}

.skillrow{ 
    text-align: left;
    line-height: 1.5;
    width: 50%;
    margin: 100px auto 100px auto;
}
.skillrow2{ 
    text-align: left;
    line-height: 1.5;
    width: 50%;
    margin: 120px auto 100px auto;
}
.gif1{
    padding-bottom: 40px;
}
.gif2{
    float: left;
    width: 25%;
    margin-right: 30px;
}
.gif3{
    float: right;
    margin-left: 30px;
}
.contactmsg{
    width: 40%;
    margin: 40px auto 60px;
}
.btn {
    background: #0A6AD6;
    background-image: -webkit-linear-gradient(top, #0A6AD6, #1EBED0);
    background-image: -moz-linear-gradient(top, #0A6AD6, #1EBED0);
    background-image: -ms-linear-gradient(top, #0A6AD6, #1EBED0);
    background-image: -o-linear-gradient(top, #0A6AD6, #1EBED0);
    background-image: -webkit-gradient(to bottom, #0A6AD6, #1EBED0);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    text-align: center;
    font-family: Verdana;
    font-size: 14px;
    font-weight: 100;
    padding: 12px;
    padding-bottom: 10px;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    height: 15px;
    margin-bottom: 70px;
}
 
 .btn:hover {
    border: solid #337FED 1px;
    background: #1E62D0;
    background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }
 .bottom-container{
    padding:40px 0 20px;
    background-color:rgb(131, 214, 247);}
a{ color:#11999E;  
    text-decoration: none; 
    padding: 8px;
}
a:hover{
    color: #45a94f;
}
.copyr{
  color: #ecf4f4;
  padding: 20px;
  font-size: small;
}